/* styles.css */

body {
    font-family: Arial, sans-serif;
    background-color: #202123;
    color: #999;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100vh;
}
	
#uploadForm {
	padding: 20px;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
}

header {
	width:100%;
	display: flex;
	flex-direction: row;
	height: 50px;
	background-color: rgba(0,0,0,0.1);
	align-items: center;
	justify-content: center;
	box-shadow: rgba(255,255,255,0.1) 0 0 100px;
	margin-bottom: 50px;
}

header > h1 {
    font-size: 18px;
    color: #999;
}

.file-input {
    margin-bottom: 20px;
}

label {
    display: block;
    margin-bottom: 8px;
    font-weight: bold;
}

input[type="file"] {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    color: #999;
}

button {
    padding: 10px 20px;
    background-color: #999;
    color: #202123;
    border: none;
    border-radius: 30px;
    cursor: pointer;
    font-size: 16px;
    transition: background-color 0.5s ease-in-out;
}

input[type=number],input[type=text] {
    padding: 10px 20px;
    background-color: #111;
    color: #fff;
    border: none;
    border-radius: 30px;
    cursor: pointer;
    font-size: 16px;
    outline: none;
    margin-bottom: 20px;
}

button:hover {
    background-color: #111;
}

#change {
	margin-top: 20px;
}

.img {
	border: 1px solid #eee;
	border-radius: 5px;
	min-height: 100px;
	min-width: 80%;
	width: auto;
	padding: 10px;
	display: flex;
	align-items: center;
	justify-content: space-between;
	background-color: rgba(255,255,255,0.1);
	margin-bottom: 20px;
}
